USE [master]
GO
/****** Object:  Database [HeladeriaDB_Ferreyra]    Script Date: 7/10/2026 16:11:32 ******/
CREATE DATABASE [HeladeriaDB_Ferreyra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeladeriaDB_Ferreyra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HeladeriaDB_Ferreyra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeladeriaDB_Ferreyra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HeladeriaDB_Ferreyra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeladeriaDB_Ferreyra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeladeriaDB_Ferreyra]
GO
/****** Object:  User [prog2]    Script Date: 7/10/2026 16:11:32 ******/
CREATE USER [prog2] FOR LOGIN [prog2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [prog2]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 7/10/2026 16:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](80) NOT NULL,
	[Tamanio] [nvarchar](10) NOT NULL,
	[PrecioTotal] [decimal](12, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoSabores]    Script Date: 7/10/2026 16:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoSabores](
	[IdPedido] [int] NOT NULL,
	[IdSabor] [int] NOT NULL,
 CONSTRAINT [PK_PedidoSabores] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC,
	[IdSabor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sabores]    Script Date: 7/10/2026 16:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sabores](
	[IdSabor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Disponible] [bit] NOT NULL,
 CONSTRAINT [PK_Sabores] PRIMARY KEY CLUSTERED 
(
	[IdSabor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Tamanio], [PrecioTotal], [Estado], [Fecha]) VALUES (1, N'Griselda Pereyra', N'Kilo', CAST(30500.00 AS Decimal(12, 2)), N'Retirado', CAST(N'2026-09-28T16:51:43.460' AS DateTime))
INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Tamanio], [PrecioTotal], [Estado], [Fecha]) VALUES (2, N'Fabián Torres', N'Medio', CAST(17800.00 AS Decimal(12, 2)), N'Retirado', CAST(N'2026-09-30T13:51:43.460' AS DateTime))
INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Tamanio], [PrecioTotal], [Estado], [Fecha]) VALUES (3, N'Lucía Bengolea', N'Cuarto', CAST(9800.00 AS Decimal(12, 2)), N'Retirado', CAST(N'2026-09-30T16:11:43.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
INSERT [dbo].[PedidoSabores] ([IdPedido], [IdSabor]) VALUES (1, 1)
INSERT [dbo].[PedidoSabores] ([IdPedido], [IdSabor]) VALUES (1, 2)
INSERT [dbo].[PedidoSabores] ([IdPedido], [IdSabor]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[Sabores] ON 

INSERT [dbo].[Sabores] ([IdSabor], [Nombre], [Disponible]) VALUES (1, N'Dulce de leche granizado', 1)
INSERT [dbo].[Sabores] ([IdSabor], [Nombre], [Disponible]) VALUES (2, N'Chocolate con almendras', 1)
INSERT [dbo].[Sabores] ([IdSabor], [Nombre], [Disponible]) VALUES (3, N'Frutilla a la crema', 1)
SET IDENTITY_INSERT [dbo].[Sabores] OFF
GO
ALTER TABLE [dbo].[PedidoSabores]  WITH CHECK ADD  CONSTRAINT [FK_PedidoSabores_PedidoSabores] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[PedidoSabores] CHECK CONSTRAINT [FK_PedidoSabores_PedidoSabores]
GO
ALTER TABLE [dbo].[PedidoSabores]  WITH CHECK ADD  CONSTRAINT [FK_PedidoSabores_Sabores] FOREIGN KEY([IdSabor])
REFERENCES [dbo].[Sabores] ([IdSabor])
GO
ALTER TABLE [dbo].[PedidoSabores] CHECK CONSTRAINT [FK_PedidoSabores_Sabores]
GO
/****** Object:  StoredProcedure [dbo].[usp_AvanzarPedido]    Script Date: 7/10/2026 16:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[usp_AvanzarPedido]    @IdPedido INTASBEGIN    SET NOCOUNT ON;    BEGIN TRY        DECLARE @Estado NVARCHAR(20);        SELECT @Estado = Estado 		FROM dbo.Pedidos 		WHERE IdPedido = @IdPedido;        IF @Estado IS NULL        BEGIN            THROW 50024, N'El pedido indicado no existe.', 1;        END;        IF @Estado = N'Retirado'        BEGIN            THROW 50025, N'El pedido ya fue retirado: no hay más pasos.', 1;        END;        UPDATE dbo.Pedidos        SET Estado = CASE Estado            WHEN N'Pendiente' THEN N'Listo'            ELSE N'Retirado'        END        WHERE IdPedido = @IdPedido;    END TRY    BEGIN CATCH        THROW;    END CATCH;END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CrearPedido]    Script Date: 7/10/2026 16:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CrearPedido]
    @Cliente  NVARCHAR(80),
    @Tamanio  NVARCHAR(10),
    @Sabores  NVARCHAR(50),
    @Estado   NVARCHAR(20) = N'Encargado', -- Añadido con valor por defecto
    @IdPedido INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF @Cliente IS NULL OR LTRIM(RTRIM(@Cliente)) = N''
        BEGIN
            THROW 50020, N'El nombre del cliente no puede estar vacío.', 1;
        END;

        IF @Tamanio NOT IN (N'Cuarto', N'Medio', N'Kilo')
        BEGIN
            THROW 50020, N'El tamaño debe ser Cuarto, Medio o Kilo.', 1;
        END;

        DECLARE @CantSabores INT;
        SELECT @CantSabores = COUNT(*)
        FROM STRING_SPLIT(@Sabores, N',');

        IF @CantSabores < 1 OR @CantSabores > 3
        BEGIN
            THROW 50027, N'El pedido debe tener entre 1 y 3 sabores.', 1;
        END;

        IF EXISTS (
            SELECT 1
            FROM STRING_SPLIT(@Sabores, N',') AS SS
            LEFT JOIN dbo.Sabores AS S
                ON S.IdSabor = TRY_CAST(SS.value AS INT)
            WHERE S.IdSabor IS NULL OR S.Disponible = 0
        )
        BEGIN
            THROW 50026, N'Algún sabor elegido no existe o no está disponible.', 1;
        END;

        DECLARE @Precio DECIMAL(12, 2) =
            CASE @Tamanio
                WHEN N'Cuarto' THEN 9800.00
                WHEN N'Medio'  THEN 17800.00
                ELSE 30500.00
            END;

        -- Incluimos el Estado y la Fecha actual dentro de la inserción
        INSERT INTO dbo.Pedidos (Cliente, Tamanio, PrecioTotal, Estado, Fecha)
        VALUES (LTRIM(RTRIM(@Cliente)), @Tamanio, @Precio, @Estado, GETDATE());

        SET @IdPedido = SCOPE_IDENTITY();

        INSERT INTO dbo.PedidoSabores (IdPedido, IdSabor)
        SELECT DISTINCT @IdPedido, TRY_CAST(SS.value AS INT)
        FROM STRING_SPLIT(@Sabores, N',') AS SS;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarPedidos]    Script Date: 7/10/2026 16:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[usp_ListarPedidos]ASBEGIN    SET NOCOUNT ON;    SELECT        P.IdPedido,        P.Cliente,        P.Tamanio,        P.PrecioTotal,        P.Estado,        P.Fecha,        STRING_AGG(S.Nombre, N', ') AS Sabores    FROM dbo.Pedidos AS P    INNER JOIN dbo.PedidoSabores AS PS ON PS.IdPedido = P.IdPedido    INNER JOIN dbo.Sabores AS S ON S.IdSabor = PS.IdSabor    GROUP BY P.IdPedido, P.Cliente, P.Tamanio, P.PrecioTotal, P.Estado, P.Fecha    ORDER BY        CASE P.Estado            WHEN N'Pendiente' THEN 1            WHEN N'Listo' THEN 2            ELSE 3        END ASC,        P.Fecha DESC;END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarSabores]    Script Date: 7/10/2026 16:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[usp_ListarSabores]ASBEGIN    SET NOCOUNT ON;    SELECT IdSabor, Nombre, Disponible    FROM dbo.Sabores    ORDER BY Nombre ASC;END;
GO
USE [master]
GO
